# Source files
src/
*.ts
!*.d.ts

# Test files
__tests__/
*.test.ts
*.spec.ts
jest.config.js

# Configuration files
.gitignore
tsconfig.json

# Build files
.github/
.vscode/

# Other
node_modules/
npm-debug.log
